Checks: '-*,readability-identifier-naming'
CheckOptions:
  - { key: readability-identifier-naming.PrivateMemberPrefix, value: _ }
WarningsAsErrors: "*"
HeaderFilterRegex: "(/include/transport|/src)/.*"