[submodule "dependencies/boringssl"]
	path = dependencies/boringssl
	url = https://github.com/quicr/boringssl
[submodule "picotls"]
	path = dependencies/picotls
	url = https://github.com/quicr/picotls
	branch = master
[submodule "picoquic"]
	path = dependencies/picoquic
	url = https://github.com/quicr/picoquic
	branch = master
[submodule "dependencies/mbedtls"]
	path = dependencies/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
	tag = v1.14.1
[submodule "dependencies/doctest"]
	path = dependencies/doctest
	url = https://github.com/doctest/doctest.git
