[submodule "dependencies/boringssl"]
	path = dependencies/boringssl
	url = https://github.com/quicr/boringssl
[submodule "picotls"]
	path = dependencies/picotls
	url = https://github.com/quicr/picotls
	branch = master
[submodule "picoquic"]
	path = dependencies/picoquic
	url = https://github.com/quicr/picoquic
	branch = master
[submodule "dependencies/logger"]
	path = dependencies/logger
	url = https://github.com/Quicr/logger.git
[submodule "dependencies/mbedtls"]
	path = dependencies/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
