[submodule "boringssl"]
	path = dependencies/boringssl
	url = https://github.com/google/boringssl
	#url = https://github.com/Quicr/boringssl
	branch = master
[submodule "picotls"]
	path = dependencies/picotls
	#url = https://github.com/h2o/picotls
	url = https://github.com/TimEvens/picotls
	branch = master
[submodule "picoquic"]
	path = dependencies/picoquic
	#url = https://github.com/private-octopus/picoquic
	url = https://github.com/TimEvens/picoquic
	branch = master
